#Formulario1{
    padding: 10px;
    margin: 0px;
    width: 260px;
    border: 2px solid gray;
}

#Formulario1 .entrada{
    font-family: Tahoma;
    font-size: 16px;
    width: 250px;
    padding: 2px;
     border-radius: 8px;
    box-shadow: grey 5px 5px 10px;
}   
#Formulario1 .ClassCheck{
  
   
}